/* Cards */
.cards{
  display: flex;
  flex-wrap: wrap;     
  justify-content: center;
  gap: 32px;         
  max-width: 2200px;   
  margin: 40px auto;  
  padding: 0 0px;    
}

.info-card{
  width: 360px;      
  height: 360px;
  margin: 0;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

.info-card .cara {
  position: absolute;
  inset: 0;       
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 30px;
  display: flex;
  transition: transform .6s;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
}


.info-card .cara {
  position: absolute;
  backface-visibility: hidden;
  border-radius: 30px;
  display: flex;
  transition: transform 0.6s;
  padding: 30px;
  box-shadow: 0 8px 18px rgba(0,0,0,.6);
}

.back1 ul,
.back2 ul,
.back3 ul,
.back4 ul {
  list-style: none;
  padding-left: 0; 
  margin: 0;
}

.front1 {
  background: linear-gradient(135deg, #100a51, #1a0b6d);
  color: white;
  align-items: flex-end;
  justify-content: left;
  transition: transform 0.6s;
}

.front1::before {
  content: "";
  position: absolute;
  inset: 0;                     
  background: url('/img/redes.png') no-repeat;
  opacity: .4;                 
  z-index: 0;                    
  border-radius: inherit; 
  background-size: 190%;    
  background-position: 10% 35%; 
}

.front1 h3 {
  z-index: 1;
  text-shadow: black 1px 1px 4px; 
}

.back1 {
  background: rgb(55, 54, 54);
  color: rgb(97, 97, 180);
  transform: rotateY(180deg);
  display: flex;            
  flex-direction: column;  
  justify-content: space-between; 
  align-items: center;    
  padding: 20px;       
}

.back1 p {
  color: white;
  text-align: center  ;
}

.back1 ul {
  padding: 0;
  text-align: center;
}

.info-card.is-open .front1 {
  transform: rotateY(180deg);
}

.info-card.is-open .back1 {
  transform: rotateY(360deg);
}

.front2 {
  background: linear-gradient(135deg, #074d12, #105a25);
  color: white;              
  align-items: flex-end;
  justify-content: left;
  transition: transform 0.6s;
  z-index: 1;
}

.front2::before {
  content: "";
  position: absolute;
  inset: 0;
  background:url('/img/world.png') no-repeat;
  opacity: 0.3;                 
  z-index: 0;                 
  background-size: 170%;     
  background-position: 10% 40%; 
  border-radius: inherit; 
}

.front2 h3 {
    z-index: 1;
    text-shadow: black 1px 1px 4px;
}

.back2 {
  background: rgb(55, 54, 54);
  color: #087667;
  transform: rotateY(180deg);
  display: flex;            
  flex-direction: column;   
  justify-content: space-between;      
  padding: 20px;       
}

.back2 h4 {
  text-align: center;
}

.back2 ul {
  text-align: center;
  padding: 0;
}

.back2 p {
  color: white;
  text-align: center;
}

.info-card.is-open .front2 {
  transform: rotateY(180deg);
}

.info-card.is-open .back2 {
  transform: rotateY(360deg);
}

.front3 {
  background: linear-gradient(135deg, #2C2C2C, #3A3A3A);
  color: white;
  align-items: flex-end;
  justify-content: left;
  transition: transform 0.6s;
}

.front3::before {
  content: "";
  position: absolute;
  inset: 0;
  background:url('/img/oseguridad.png') no-repeat;
  opacity: 0.3;             
  z-index: 0;                      
  background-size: 170%;     
  background-position: 50% 60%; 
  border-radius: inherit;  
}

.front3 h3 {
    z-index: 1;
    text-shadow: black 1px 1px 4px;
}

.back3 {
  background: rgb(55, 54, 54);
  color: #2C2C2C;
  transform: rotateY(180deg);
  display: flex;            
  flex-direction: column;  
  justify-content: space-between; 
  align-items: center;       
  padding: 20px;       
}

.back3 h4 {
  text-align: center;
  color: rgb(164, 164, 164)
}

.back3 p {
  color: white;
  text-align: center;
}

.back3 ul {
  padding: 0;
  text-align: center;
  color: rgb(164, 164, 164)
}

.info-card.is-open .front3 {
  transform: rotateY(180deg);
}

.info-card.is-open .back3 {
  transform: rotateY(360deg);
}

.front4 {
  background: linear-gradient(135deg, #9c5f14, #db7415);
  color: white;
  align-items: flex-end;
  justify-content: left;
  transition: transform 0.6s;
}

.front4::before {
  content: "";
  position: absolute;
  inset: 0;
  background:url('/img/consul.png') no-repeat;
  opacity: 0.3;                
  z-index: 0;                      
  background-size: 190%;    
  background-position: 10% 60%; 
  border-radius: inherit;  
}

.front4 h3 {
    z-index: 1;
    text-shadow: black 1px 1px 4px;
}

.back4 {
  background: rgb(55, 54, 54);
  color: #c3691f;
  transform: rotateY(180deg);
  display: flex;            
  flex-direction: column;    
  justify-content: space-between; 
  align-items: center;       
  padding: 20px;       
}

.back4 h4 {
  text-align: center;
}

.back4 p {
  color: white;
  text-align: center;
}

.back4 ul {
  padding: 0;
  text-align: center;
}

.info-card.is-open .front4 {
  transform: rotateY(180deg);
}

.info-card.is-open .back4 {
  transform: rotateY(360deg);
}